@media (max-width: 600px) {
	.content {
		padding: 00px 10px 10px 10px;
	}

	img.logo {
		margin-left:1px !important;
		margin-right:0 !important;
	 	height:50px;
	}

	nav.currentUser {
		background-color:$colorDarkGray;

		ul {
			padding-left:20px !important;
			li {
				display: block;
				a {
					color: $colorBaseDark;
				}
			}

			li.caption {
				margin-bottom: 13px;
				span {
					font-weight: bold;
					color: $colorLightGray;
					padding-left: 10px;
					font-size: 19px;
				}
				.photo {
					width: 30px;
					border-radius: 10px;
					margin-left: 4px;
					vertical-align: top;
				}
			}
		}
	}

	.menu-toggler {
		font-size:22px;
		padding-top:10px;
	}

	.colTimeout {
		width:130px !important;
		position:relative;
		top:1px;
	}

	.colName {
		.name {
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 130px;
			overflow: hidden;
			display: inline-block;
		}
	}

	.summary {
		.availability {
			margin: 0;
		  	margin-right:10px;
		}
	}
  svg {width:100%;height:100%}


}